body {
    color: rgba(255, 255, 255, 0.699);
    background: rgba(0, 0, 0, 0.904);
    margin: 90px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 12px;
  }
  
  header {
    border-bottom: rgba(0, 0, 0, 0.904);
    padding: 50px;
    font-size: 52px;
    color: rgb(255, 255, 255);
  }
  
  .chamada {
    background: rgba(0, 0, 0, 0.904);
    padding-bottom: 250px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 2%;
  }
  
  h1 {
    font: size 12px;
  }
  img {
    height: 12px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }
  
  section {
    padding-left: 0px;
    padding-right: 0px;
  }

.categoria {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.categoria-videos img {
  opacity: 1.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 0.5;
  border: solid white;
}

.categoria h2 {
  color: rgb(255, 255, 255);
}